  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li><a href="#/">Color Sense</a></li>
      <li><a href="#/one"><i class="ti-angle-right"></i><span data-i18n="One">One</span></a></li>
      <li><a href="#/two"><i class="ti-angle-right"></i><span data-i18n="Two">Two</span></a></li>
      <li><a href="#/three"><i class="ti-angle-right"></i><span data-i18n="Three">Three</span></a></li>
      <li><a href="#/four"><i class="ti-angle-right"></i><span data-i18n="Three">Four</span></a></li>      
    </ul>
  </nav><div ng-view=""></div>