<div class="page">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Step One Will Go Here</strong>        
        </div>
        <div class="col-lg-9" ng-show="myToggle">
          <%= image_tag("paint-colors.jpg", alt: "", class: "img-responsive") %>
        </div>
        <div class="col-lg-3" ng-show="myToggle">
          <button ng-click="toggle()">Click Here To Begin</button>
          <p>Start by choosing your desired colors</p>
          <%= image_tag("color-wheel.png", alt: "", class: "img-responsive") %>
        </div>
        <div ng-show="!myToggle">
            <button ng-click="toggle()">Back to Step One Instructions</button>
            <div class="hccp-outerdiv">
                <canvas class="hccp-canvas img-responsive" id="hccp-FindCanvasColor" ng-mouseover="pickColor()"></canvas>
                <div class="hccp-innerdiv">
                    <br>
                    <p>On Hover <span id="hccp-hoverColorFont">Text Color</span></p>
                    <p class="hccp-colorbar" id="hccp-hoverColorBackground">Background Color</p>
                    <p>RGB: <input type="text" id="hccp-hoverColorRGB"></input></p>
                    <p>HEX: <input type="text" id="hccp-hoverColorHEX"></input></p>
                    <br>
                    <p>On Click <span id="hccp-clickColorFont">Text Color</span></p>
                    <p class="hccp-colorbar" id="hccp-clickColorBackground">Background Color</p>
                    <p>RGB: <input type="text" id="hccp-clickColorRGB"></input></p>
                    <p>HEX: <input type="text" id="hccp-clickColorHEX"></input></p>
                </div>
                <br>
                <div class="hccp-resetdiv"></div>
            </div>
        </div>        
    </section> 
</div>